<ion-view view-title="Agregar Evaluacion">
  <ion-content padding="true">
    <form ng-submit="addEvaluacion()" name="evaluacionForm">

      <label class="item item-select">
        <span class="input-label">Tipo</span>
        <select ng-model="evaluacionData.tipo">
          <option>Examen</option>
          <option>Exposicion</option>
          <option>Taller</option>
          <option>Trabajo</option>
        </select>
      </label>

      <label class="item item-input">
        <span class="input-label" >Ponderacion</span>
        <input type="number" placeholder="00" ng-model="evaluacionData.ponderacion" required="">
      </label>

      <label class="item item-input">
        <span class="input-label">Fecha</span>
        <input type="date" placeholder="Fecha" ng-model="evaluacionData.fecha" required>
      </label>

      <label class="item item-input">
        <span class="input-label">Hora</span>
        <input type="time" placeholder="Hora" ng-model="evaluacionData.hora" required>
      </label>

      <button type="submit" ng-disabled="evaluacionForm.$invalid" class="button button-balanced button-block">Agregar</button>
      <a ng-click="back()" class=" button button-assertive button-block">Cancelar</a>
    </form>
  </ion-content>
</ion-view>
