<ion-view view-title="Agregar Materia">
  <ion-content padding="true">
  <form ng-submit="addMateria()" name="agregarMateria_form">
      <ion-list>
        <label class="item item-input">
          <input type="text" placeholder="Nombre Materia" ng-model="materiaData.nombre" required>
        </label>

        <label class="item item-input">
          <input type="text" placeholder="Profesor" ng-model="materiaData.profesor" required>
        </label>

        <label class="item item-input ">
          <input type="number" placeholder="Seccion" ng-model="materiaData.seccion" required>
        </label>

      </ion-list>
      <button class="button button-balanced button-block icon-right" type="submit" ng-disabled="agregarMateria_form.$invalid">Agregar</button>
      <a ng-click="back()" class="button button-assertive button-block">Cancelar</a>
    </form>
  </ion-content>
</ion-view>
