<ion-view view-title="Evaluaciones">
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Refrescar"
      on-refresh="refreshEvaluaciones()">
    </ion-refresher>

    <ion-list can-swipe = "true">

      <ion-item
        ng-repeat="evaluacion in evaluaciones"
        class = "item-icon-left">
        <i
          ng-class="{'ion-android-checkbox-outline' : evaluacion.presentado == 1, 'ion-android-checkbox-outline-blank' : evaluacion.presentado == 0}"
          class = "icon"></i>
        <span>{{ evaluacion.tipo }}</span><br>
        <span>{{ evaluacion.ponderacion }}</span><br>
        <span>{{ evaluacion.fecha_hora | fecha }}</span>
        , <span class="assertive">{{ evaluacion.fecha_hora | dentroDe }}</span>
        <ion-option-button
          class    = "button button-assertive"
          ng-click = "deleteEvaluacion($index, evaluacion.id)">
          <i class = "icon ion-trash-a"></i>
        </ion-option-button>
        <ion-option-button
          class    = "button button-balanced"
          ng-click = "doneEvaluacion($index, evaluacion.id)">
          <i class="icon ion-android-checkmark-circle"></i>
        </ion-option-button>
      </ion-item>

    </ion-list>
    <a  ui-sref="tab.agregar-evaluacion({ materia: materiaActual.id })" class="button button-dark button-block icon-right icon-right ion-plus-round ">Agregar evaluacion</a>
  </ion-content>
</ion-view>
