<ion-view view-title="Inicio Sesion">
  <ion-content class="padding">
    <form ng-submit="login(loginData)" name="inicio.login_form" novalidate="">
      <ion-list>
        <label class="item item-input" 
        ng-class="{'has-errors' : !inicio.login_form.email.$pristine && inicio.login_form.email.$invalid || hasError, 'no-errors' : inicio.login_form.email.$valid && !hasError}">
          <input name="email" type="email" placeholder="Correo" ng-model="loginData.email" required>
        </label>

        <label class="item item-input" 
          ng-class="{'has-errors' : !inicio.login_form.password.$pristine && inicio.login_form.password.$invalid || hasError, 'no-errors' : inicio.login_form.password.$valid && !hasError}">
          <input name="password" type="password" placeholder="Contraseña" ng-model="loginData.password" required>
        </label>
      </ion-list>
      <div class="spacer" style="height: 50px;"></div>

      <button class="button button-balanced button-block icon-right" type="submit" ng-disabled="inicio.login_form.$invalid">Iniciar sesion</button>
      <a ui-sref="registro" class="button button-dark button-block button-outline ">Crear cuenta</a>

      <div class="card assertive" ng-if="!inicio.login_form.$pristine && inicio.login_form.$invalid || hasError" >
        <div class="item item-text-wrap assertive" ng-if="!inicio.login_form.email.$pristine && inicio.login_form.email.$invalid">
          Correo invalido.
        </div>
        <div class="item item-text-wrap assertive" ng-if="!inicio.login_form.password.$pristine && inicio.login_form.password.$invalid">
          Contraseña requerida.
        </div>
        <div class="item item-text-wrap assertive" ng-if="error.status == 401">
          Combinacion usuario, contraseña incorrecta.
        </div>
      </div>
    </form>
  </ion-view>
