<ion-view view-title="Registro">
  <ion-content class="padding">
    <form ng-submit="registrar(registroData)" novalidate="" name="registro.registroForm">
      <ion-list>
        <label class="item item-input"
          ng-class="{'has-errors' : !registro.registroForm.name.$pristine && registro.registroForm.name.$invalid, 'no-errors' : registro.registroForm.name.$valid}">
          <input name="name" type="text" placeholder="Usuario" ng-model="registroData.name" required> 
        </label>

        <label class="item item-input"
          ng-class="{'has-errors' : !registro.registroForm.email.$pristine && registro.registroForm.email.$invalid || hasError, 'no-errors' : registro.registroForm.email.$valid && !hasError}">
          <input name="email" type="email" placeholder="Correo" ng-model="registroData.email" required>
        </label>

        <label class="item item-input"
          ng-class="{'has-errors' : !registro.registroForm.password.$pristine && registro.registroForm.password.$invalid, 'no-errors' : registro.registroForm.password.$valid}" >
          <input name="password" type="password" placeholder="Contraseña" ng-model="registroData.password" required>
        </label>

      </ion-list>
      <button class="button button-balanced  button-block icon-right" type="submit" ng-disabled="registro.registroForm.$invalid">Registrar</button>
      <a ng-click="back()" class="button button-assertive  button-block">Cancelar</a>

      <div class="card assertive" ng-if="!registro.registroForm.$pristine && registro.registroForm.$invalid || hasError" >
        <div class="item item-text-wrap assertive" ng-if="!registro.registroForm.name.$pristine && registro.registroForm.name.$invalid">
          Nombre de usuario requerido.
        </div>
        <div class="item item-text-wrap assertive" ng-if="!registro.registroForm.email.$pristine && registro.registroForm.email.$invalid">
          Correo invalido.
        </div>
        <div class="item item-text-wrap assertive" ng-if="!registro.registroForm.password.$pristine && registro.registroForm.password.$invalid">
          Contraseña requerida.
        </div>
        <div class="item item-text-wrap assertive" ng-if="error.status == 400">
          Correo ya ha sido tomado.
        </div>
      </div>
    </form>
  </ion-view>

