<ion-view view-title="Materias">
  <ion-content class="padding">
  <ion-refresher
    pulling-text="Refrescar"
    on-refresh="refreshMaterias()">
  </ion-refresher>
    <ion-list class="list"
      can-swipe = "true">
      
      <ion-item
        ng-repeat = "materia in materias"
        class     = "item-icon-left"
        ui-sref   = "tab.evaluaciones({materia: materia.id})">
        <i class  = "icon ion-calculator"></i>
        {{materia.nombre}}
<!--         <span class="item-note">n</span> -->
        <ion-option-button
          class    = "button button-assertive"
          ng-click = "deleteMateria($index, materia.id)">
          <i class = "icon ion-trash-a"></i>
        </ion-option-button>
      </ion-item>

    </ion-list>

    <a ui-sref="tab.agregar-materia" class="button button-dark button-block icon-right ion-plus-round">Agregar Materia</a>
  </ion-content>
</ion-view>
