<ion-view view-title="Usuario">
  <ion-content class="padding"> 

    <img src="img/team.png" class="full" height="200">
    <h1 class="title">{{currentUser.name}}</h1>

    <ion-list class="list">
      <ion-item class="item-icon-left">
        <i class="icon ion-ios-bookmarks"></i>Materias inscritas
        <span class="item-note">n</span>
      </ion-item>

      <ion-item class="item-icon-left">
        <i class="icon ion-clipboard"></i>Examenes pendientes
        <span class="item-note">n</span>
      </ion-item>

      <ion-item class="item-icon-left">
        <i class="icon ion-android-done-all"></i>Examenes presentados
        <span class="item-note">n</span>
      </ion-item>
    </ion-list>

    <a ng-click="logout()" class="button button-assertive button-block">Cerrar sesion</a>

  </ion-content>
</ion-view>
