<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive tabs-striped">

  <ion-tab
    title    = "Materias"
    icon-off = "ion-ios-bookmarks"
    icon-on  = "ion-ios-bookmarks"
    href     = "#/tab/materias">
    <ion-nav-view name="tab-materias"></ion-nav-view>
  </ion-tab>

  <ion-tab 
    title    = "Usuario" 
    icon-off = "ion-android-person" 
    icon-on  = "ion-android-person" 
    href     = "#/tab/usuario">
    <ion-nav-view name="tab-usuario"></ion-nav-view>
  </ion-tab>

</ion-tabs>
