.bg-base{
  background: #F0F0F0;
}
body{
}

img.full{
  max-width:    100%;
  display:      block;
  margin-left:  auto;
  margin-right: auto;
}

.title{
  color:      #333;
  text-align: center;
}

.error-container {
  margin: 5px 0;
}
 
.error-container:last-child {
    margin: 5px 0 0;
}
 
.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}
 
.error i {
  font-size: 24px;
  color: #B83E2C;  
  vertical-align: middle;
}
 
.last-error-container > .error {
  padding: 10px 16px 0;
}
 
.has-errors {
  border-bottom: 3px solid #ef473a;
}
 
.no-errors {
  border-bottom: 3px solid #33cd5f;
}